<%- include('includes/head'); %>

<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <div class="table-responsive">
        <table class="table my-3">
          <tr>
            <td>Luiz</td>
            <td>Otávio</td>
            <td>71 9 9999-9999</td>
            <td>otaviomiranda@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
